@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Playfair Display', serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------------------------------------  Gallerie v.1 | floating  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./galleries.css" />
</head>

    <section class="sgi container flex">
        <ul class="gallerie-v1">
            <li class="gallerie-v1-li">
                <span class="gallerie-v1-li-title">Alley</span>
                <img src="./assets/img/alley-copy.jpg" alt="">
            </li>
            <li class="gallerie-v1-li">
                <span class="gallerie-v1-li-title">Branch</span>
                <img src="./assets/img/branch-copy.jpg" alt="">
            </li>
            <li class="gallerie-v1-li">
                <span class="gallerie-v1-li-title">River</span>
                <img src="./assets/img/river-bank-copy.jpg" alt="">
            </li>
            <li class="gallerie-v1-li">
                <span class="gallerie-v1-li-title">Road</span>
                <img src="./assets/img/road-copy.jpg" alt="">
            </li>
            <li class="gallerie-v1-li">
                <span class="gallerie-v1-li-title">Spring</span>
                <img src="./assets/img/spring-forest-copy.jpg" alt="">
            </li>
            <li class="gallerie-v1-li">
                <span class="gallerie-v1-li-title">Winter</span>
                <img src="./assets/img/winter-painting-copy.jpg" alt="">
            </li>
        </ul>
    </section>
*/

/* ===============  CSS  =============== */
.sgi {
    font-family: 'Raleway', sans-serif;
    background-color: #333;
}
.gallerie-v1 {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 450px;
    margin: auto;
    list-style: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px #000;
    overflow: hidden;
}

.gallerie-v1-li {
    position: relative;
    width: 190px;
    height: 450px;
    float: left;
    border-left: 1px solid #fff;
    transition: all 0.7s;
    box-shadow: -2px 0px 10px 2px #000;
}
.gallerie-v1-li:first-child {
    border: none;
}

.gallerie-v1-li-title {
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    padding: 20px;
    color: #fff;
    white-space: nowrap;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.gallerie-v1-li img {
    width: 800px;
    height: 450px;
    object-fit: cover;
}

.gallerie-v1:hover li {
    width: 50px;
}

.gallerie-v1 li:hover {
    width: 750px;
}


/* ----------------------------------------------  Gallerie v.2 | floating  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./galleries.css" />
</head>

    <section id="fg2" class="container">
        <div class="container-fg2">
            <div class="panel-fg2 active">
                <h3>Alley</h3>
                <img src="../CSS/assets/img/alley-copy.jpg" alt="">
            </div>
            <div class="panel-fg2">
                <h3>Branch</h3>
                <img src="../CSS/assets/img/branch-copy.jpg" alt="">
            </div>
            <div class="panel-fg2">
                <h3>River</h3>
                <img src="../CSS/assets/img/river-bank-copy.jpg" alt="">
            </div>
            <div class="panel-fg2">
                <h3>Road</h3>
                <img src="../CSS/assets/img/road-copy.jpg" alt="">
            </div>
            <div class="panel-fg2">
                <h3>Spring</h3>
                <img src="../CSS/assets/img/spring-forest-copy.jpg" alt="">
            </div>
            <div class="panel-fg2">
                <h3>Winter</h3>
                <img src="../CSS/assets/img/winter-painting-copy.jpg" alt="">
            </div>
        </div>
    </section>
*/

/* ===============  CSS  =============== */
#fg2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    overflow: hidden;
}
.container-fg2 {
    display: flex;
    width: 90%;
}

.panel-fg2 {
    position: relative;
    height: 80vh;
    margin: 0 1%;
    flex: 0.5;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: flex 0.7s ease-in;
    cursor: pointer;
    overflow: hidden;
}
.panel-fg2:hover {
    flex: 5;
}
.panel-fg2 h3 {
    position: absolute;
    inset: auto 0 0 0;
    padding: 2% 5%;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    background-image: linear-gradient(to top, #000, transparent);
    opacity: 0;
}
.panel-fg2:hover h3 {
    opacity: 1;
    transition: all 0.3s ease-in-out 0.4s;
}
.panel-fg2 img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ----------------------------------------------  Stacked Gallerie  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./galleries.css" />
</head>

    <section class="container flex">
        <ul class="cards flex">
            <li class="title flex">
                <h2>nature</h2>
            </li>
            <li class="card card-1">
                <img src="./assets/img/alley-copy.jpg" alt="">
                <div class="content">
                    <h1>Card 1 Title</h1>
                <p>Card Description</p>
            </div>
            </li>
            <li class="card card-2">
                <img src="./assets/img/winter-painting-copy.jpg" alt="">
                <div class="content">
                    <h1>Card 2 Title</h1>
                    <p>Card Description</p>
                </div>
            </li>
            <li class="card card-3">
                <img src="./assets/img/river-bank-copy.jpg" alt="">
                <div class="content">
                    <h1>Card 3 Title</h1>
                    <p>Card Description</p>
                </div>
            </li>
            <li class="card card-4">
                <img src="./assets/img/road-copy.jpg" alt="">
                <div class="content">
                    <h1>Card 4 Title</h1>
                    <p>Card Description</p>
                </div>
            </li>
            <li class="card card-n">
                <img src="./assets/img/spring-forest-copy.jpg" alt="">
                <div class="content">
                    <h1>Card 5 Title</h1>
                    <p>Card Description</p>
                </div>
            </li>
            <li class="card card-n">
                <img src="./assets/img/branch-copy.jpg" alt="">
                <div class="content">
                    <h1>Card 6 Title</h1>
                    <p>Card Description</p>
                </div>
            </li>
        </ul>
    </section>
    
*/

/* ===============  CSS  =============== */
.cards {
    width: auto;
    height: auto;
    position: relative;
    padding: 20px 0px;
    list-style: none;
    cursor: pointer;
    gap: 50px;
    flex-wrap: wrap;
}

.title {
    position: absolute;
    width: fit-content;
    aspect-ratio: 1 / 1;
    margin: 0px 0px 20px;
    padding: 10px;
    color: #f1f1f1;
    text-transform: uppercase;
    z-index: 11;
}

.card {
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 60px 40px -7px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}

.card img {
    max-width: 110%;
    object-fit: cover;
    object-position: center;
}

.content {
    padding: 5px 10px;
}

.card-1 {
    transform: rotateZ(-2deg);
    z-index: 10;
}
.card-2 {
    transform: rotateZ(-7deg);
    z-index: 9;
}
.card-3 {
    transform: rotateZ(5deg);
    z-index: 8;
}
.card-4 {
    transform: rotateZ(-15deg);
    z-index: 7;
}
.card-n {
    transform: rotateZ(5deg);
    z-index: 6;
}

.cards:hover .card {
    transform: rotateZ(0deg);
    position: relative;
}
.cards:hover .title {
    display: none;
}
