@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400;700;800&family=Raleway&display=swap');

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------------------------------------  Underline Hover Effect  ---------------------------------------------- */
/* v.1 */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

    <nav>
        <ul class="nav">
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">About us</a></li>
            <li><a href="#" class="nav-link">Portfolio</a></li>
            <li><a href="#" class="nav-link">Projects</a></li>
            <li><a href="#" class="nav-link">Contact us</a></li>
        </ul>
    </nav>
*/

/* ===============  CSS  =============== */
.nav {
    background: #161616;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    position: relative;
    color: #c4c4c4;
    padding: 7px 0;
    font-size: 1.3rem;
    text-decoration: none;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    left: 50%;
    bottom: 0;
    background: #f7f7f7;
    transition: 0.4s ease-out;
}
.nav-link:hover:after {
    width: 100%;
    left: 0%;
}

/* v.2 */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

    <nav>
        <ul class="nav">
            <li><a href="#" class="nav-link2">Home</a></li>
            <li><a href="#" class="nav-link2">About us</a></li>
            <li><a href="#" class="nav-link2">Portfolio</a></li>
            <li><a href="#" class="nav-link2">Projects</a></li>
            <li><a href="#" class="nav-link2">Contact us</a></li>
        </ul>
    </nav>
*/

/* ===============  CSS  =============== */
.nav {
    background: #161616;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-link2 {
    position: relative;
    display: inline-block;
    padding: 0.5em 0px;
    padding: 0.5em 1em;
    color: #c4c4c4;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f7f7f7;
    -webkit-transform: scaleX(0);
      transform: scaleX(0);
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.nav-link2:hover::after {
    -webkit-transform: scaleX(1);
      transform: scaleX(1);
}

/* ----------------------------------------------  Flip Hover Effect  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

    <ul class="nav" id="nav3">
        <li>
            <a href="nav3" class="nav-link3">
                <span>home</span>
                <span>home</span>
            </a>
        </li>
        <li>
            <a href="nav3" class="nav-link3">
                <span>about</span>
                <span>about</span>
            </a>
        </li>
        <li>
            <a href="nav3" class="nav-link3">
                <span>services</span>
                <span>services</span>
            </a>
        </li>
        <li>
            <a href="nav3" class="nav-link3">
                <span>portfolio</span>
                <span>portfolio</span>
            </a>
        </li>
        <li>
            <a href="nav3" class="nav-link3">
                <span>team</span>
                <span>team</span>
            </a>
        </li>
        <li>
            <a href="nav3" class="nav-link3">
                <span>contact</span>
                <span>contact</span>
            </a>
        </li>
    </ul>
*/

/* ===============  CSS  =============== */
.nav {
    background: #161616;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-link3 {
    position: relative;
    display: block;
    height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
}

.nav-link3 span {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: 0.5s;
}
.nav-link3 span:nth-child(1) {
    color: #666;
}
.nav-link3:hover span {
    transform: translateY(-100%);
}


/* ----------------------------------------------  Z-Index Transition Hover Effect  ---------------------------------------------- */
/* ===============  HTML  ===============
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

    <section class="container flex" id="menu-glass">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <ul class="glass-menu-ul">
            <li><a href="#menu-glass">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a></li>
            <li><a href="#menu-glass">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a></li>
            <li><a href="#menu-glass">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a></li>
            <li><a href="#menu-glass">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a></li>
            <li><a href="#menu-glass">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a></li>
        </ul>
    </section>
*/

/* ===============  CSS  =============== */
#menu-glass {
    position: relative;
    height: 300px;
    background: linear-gradient(to bottom, #ff4f8b, #dff1ff);
    overflow: hidden;
}
#menu-glass::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.color {
    position: absolute;
    filter: blur(150px);
}
.color:nth-child(1) {
    width: 600px;
    height: 600px;
    top: -350px;
    background: #ff359b;
}
.color:nth-child(2) {
    width: 500px;
    height: 500px;
    left: 100px;
    bottom: -150px;
    background: #00d2ff;
}
.color:nth-child(3) {
    width: 300px;
    height: 300px;
    right: 0px;
    bottom: 50px;
    background: #fffd87;
}

.glass-menu-ul {
    position: relative;
    display: flex;
}
.glass-menu-ul li {
    position: relative;
    list-style: none;
    margin: 10px;
}
.glass-menu-ul li a {
    position: relative;
    top: 0;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    overflow: hidden;
    z-index: 1;
    transition: top 0.5s, z-index 0.5s, transform 0.5s;
    transition-delay: 0.5s, 0s, 0s;
}
.glass-menu-ul li a:hover {
    transition-delay: 0s, 0.5s, 0.5s;
    top: -50%;
    transform: translateY(40%);
    z-index: 3;
}
.glass-menu-ul li a::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transform: skewX(45deg) translateX(120px);
}
.glass-menu-ul li a:hover::before {
    transform: skewX(45deg) translateX(-120px);
    transition: 1.5s;
}


/* ----------------------------------------------  Hover Effect v.1  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

    <nav>
        <ul id="nav-2">
            <li class="item flex">
                <a href="#" class="link">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="item flex">
                <a href="#" class="link">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </li>
            <li class="item flex">
                <a href="#" class="link">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li class="item flex">
                <a href="#" class="link">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
*/

/* ===============  CSS  =============== */

#nav-2 {
    background: #000;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

#nav-2 .item {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: 0 1.5rem;
    font-size: 1.5rem;
    border: 1px solid #00ff95;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out 0.5s;
}
#nav-2 .item:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 5px #000,
    0px 0px 0px 10px #00ff95;
}
#nav-2 .item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #00ff95;
    transition: 0.5s ease-in-out;
    z-index: 1;
}
#nav-2 .item:hover:before {
    height: 100%;
}

#nav-2 .link {
    color: #00ff95;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
#nav-2 .item:hover .link {
    color: #000;
    transform: rotate(360deg);
}

/* ----------------------------------------------  Sliced Image Hover Effect  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

    <section class="bg1 container flex">
        <div class="sliced-image-container flex">
            <img src="./assets/img/stock-photo-127204601-copy.jpg" alt="" class="slice-1">
            <img src="./assets/img/stock-photo-127204601-copy.jpg" alt="" class="slice-2">
            <img src="./assets/img/stock-photo-127204601-copy.jpg" alt="" class="slice-3">
            <img src="./assets/img/stock-photo-127204601-copy.jpg" alt="" class="slice-4">
        </div>
    </section>
*/

/* ===============  CSS  =============== */
.bg2 {
    background: rgba(0, 0, 0, 0.7);
}

.sliced-image-container {
    position: relative;
    width: 600px;
    height: 400px;
}
.sliced-image-container::before {
    content: '';
    position: absolute;
    width: 620px;
    height: 420px;
    border: 3px solid black;
    transform: scale(1.1) translate(-10px, -10px);
    z-index: -2;
    transition: 300ms ease;
}
.sliced-image-container:hover:before {
    transform: scale(1);
}

.sliced-image-container::after {
    content: '';
    position: absolute;
    width: 620px;
    height: 420px;
    border: 3px solid white;
    background: white;
    transform: scale(2) translate(-10px, -10px);
    clip-path: polygon(49% -4%, 92% 45%, 51% 120%, 11% 47%);
    z-index: -1;
    transition: 1s ease;
}
.sliced-image-container:hover::after {
    transform: scale(0.9);
}

.sliced-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
}

.slice-1 {
    clip-path: polygon(0 0, 0 32%, 28% 0);
    transform: translate(-10px, -10px);
    transition: transform 300ms ease;
    transform-origin: top;
}
.sliced-image-container:hover .slice-1 {
    transform: translate(0.9px, 0.9px);
}
.slice-2 {
    clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    transform: translate(-30px, 5px);
    transition: transform 300ms ease;
}
.sliced-image-container:hover .slice-2 {
    transform: translate(0.6px, 0.6px);
}
.slice-3 {
    clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
    transform: translate(-15px, -10px);
    transition: transform 300ms ease;
}
.sliced-image-container:hover .slice-3 {
    transform: translate(0.3px, 0.3px);
}
.slice-4 {
    clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    transform: translate(-32px, -5px);
    transition: transform 300ms ease;
}
.sliced-image-container:hover .slice-4 {
    transform: translate(-0.1px, -0.1px);
}


/* ----------------------------------------------  Move from Left to Right on Hover  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

    <section class="container flex">
        <div class="box">
            <div class="imgbox">
                <img class="img-1" src="./assets/img/foggy-lake-quang-nguyen-vinh-2166695-copy.jpg" alt="">
                <img class="img-2" src="./assets/img/pngegg38-copy.png" alt="">
            </div>
            <div class="contentbox flex">
                <div class="content">
                    <h2>write something clever</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum iusto nulla veritatis est rem voluptatum nisi eligendi commodi fuga odit.</p>
                </div>
            </div>
        </div>
    </section>
*/

/* ===============  CSS  =============== */
.box {
    position: relative;
    width: min(95%, 450px);
    height: 320px;
    background: #000;
}
.imgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    overflow-x: clip;
}
.img-1, .img-2 {
    position: absolute;
    object-fit: cover;
}
.img-1 {
    left: 0;
    width: 100%;
    height: 100%;
}
.img-2 {
    top: 10px;
    right: -30px;
    height: 110%;
    opacity: 0;
    z-index: 2;
    transition: 0.5s;
}
.box:hover .img-2 {
    right: 30px;
    opacity: 1;
}
.contentbox {
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    background: #fff;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
    border-radius: 50%;
}
.box:hover .contentbox {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.5s;
}
.content {
    position: relative;
    padding: 20px 110px 20px 60px;
    opacity: 0;
}
.box:hover .content {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.content h2 {
    color: #222;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.content p {
    color: #222;
}
