*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------------------  Underline Hover Effect  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

    <nav>
        <ul class="nav">
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">About us</a></li>
            <li><a href="#" class="nav-link">Portfolio</a></li>
            <li><a href="#" class="nav-link">Projects</a></li>
            <li><a href="#" class="nav-link">Contact us</a></li>
        </ul>
    </nav>
*/

/* ===============  CSS  =============== */
.nav {
    background: #161616;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    position: relative;
    color: #c4c4c4;
    padding: 7px 0;
    font-size: 1.3rem;
    text-decoration: none;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    left: 50%;
    bottom: 0;
    background: #f7f7f7;
    transition: 0.4s ease-out;
}
.nav-link:hover:after {
    width: 100%;
    left: 0%;
}


/* ----------------------------------------------  Hover Effect v.1  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

*/

/* ===============  CSS  =============== */
:root {
    --bg: #000;
    --fg: #00ff95;
}

.list {
    background: #000;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.item {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    border: 1px solid #00ff95;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #00ff95;
    transition: 0.5s ease-in-out;
    z-index: 1;
}
.item:hover:before {
    height: 100%;
}

.link {
    color: #00ff95;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.item:hover .link {
    color: #000;
}

/* ----------------------------------------------  Sliced Image Hover Effect  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./hover-effects.css" />
</head>

    <section class="bg1 container flex">
        <div class="sliced-image-container">
            <img src="./assets/img/clouds-bg-copy.jpg" alt="" class="slice-1">
            <img src="./assets/img/clouds-bg-copy.jpg" alt="" class="slice-2">
            <img src="./assets/img/clouds-bg-copy.jpg" alt="" class="slice-3">
            <img src="./assets/img/clouds-bg-copy.jpg" alt="" class="slice-4">
        </div>
    </section>
*/

/* ===============  CSS  =============== */
.bg2 {
    background: rgba(0, 0, 0, 0.7);
}

.sliced-image-container {
    position: relative;
    width: 600px;
    height: 400px;
}
.sliced-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
}

.slice-1 {
    clip-path: polygon(0 0, 0 32%, 28% 0);
    transform: translate(-10px, -10px);
    transition: transform 300ms ease;
    transform-origin: top;
}
.sliced-image-container:hover .slice-1 {
    transform: translate(0, 0);
}
.slice-2 {
    clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    transform: translate(-30px, 5px);
    transition: transform 300ms ease;
}
.sliced-image-container:hover .slice-2 {
    transform: translate(0, 0);
}
.slice-3 {
    clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
    transform: translate(-15px, -10px);
    transition: transform 300ms ease;
}
.sliced-image-container:hover .slice-3 {
    transform: translate(0, 0);
}
.slice-4 {
    clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    transform: translate(-32px, -5px);
    transition: transform 300ms ease;
}
.sliced-image-container:hover .slice-4 {
    transform: translate(0, 0);
}


