@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ===================================== Parallax Effect | Fixed background ===================================== */
/* ------------- HTML ------------- 
    <div id="fixed-bg">
        <div class="container flex bg">
            <span class="border">
                parallax example
            </span>
        </div>
        <section>
            <h2>section one</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ducimus necessitatibus dicta perferendis mollitia libero nesciunt, quia quod doloribus omnis autem labore soluta nisi temporibus dolor commodi iure illum eligendi harum ratione voluptas aliquam? Ratione eum possimus reprehenderit eaque accusamus dignissimos, eveniet, nihil, molestiae est voluptatum molestias similique? Beatae facilis maiores obcaecati laborum ad, ducimus nostrum vel ipsa hic nulla incidunt consequuntur! Quas ducimus ab officia eveniet vel dolorum quidem asperiores numquam omnis consectetur eaque beatae esse pariatur quo unde, nihil saepe commodi! Impedit est, nulla veritatis iste odio ipsam eligendi repellendus reiciendis cumque nisi quisquam, blanditiis enim illum corrupti.</p>
        </section>

        <div class="container flex bg">
            <span class="border">
                image two text
            </span>
        </div>
        <section>
            <h2>section two</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ullam quae nulla, quibusdam asperiores dolores rerum mollitia totam distinctio quos fuga ipsa voluptate reiciendis quidem consequatur? Non porro odit fugiat laborum, incidunt, in vero voluptatem eveniet deleniti veniam aut aliquid nesciunt architecto accusamus. Recusandae ipsum laudantium, deleniti, quam impedit aliquid voluptatibus similique minima ipsam ut voluptates repellendus alias sunt rem iusto itaque nemo, molestias illo eveniet quisquam omnis numquam ratione accusamus ducimus! Quos praesentium velit laudantium sequi enim nihil explicabo. Ea ab error neque, recusandae id veritatis tempore impedit laboriosam perferendis est quo pariatur eaque maxime vitae eius sapiente. Sunt!</p>
        </section>
        
        <div class="container flex bg">
            <span class="border">
                image three text
            </span>
        </div>
        <section>
            <h2>section three</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis iste numquam pariatur voluptatum accusamus? Similique ad corporis doloremque dolores maiores. Dolore labore corporis, ea distinctio aspernatur possimus inventore nesciunt asperiores autem ullam doloremque, natus ad rerum eveniet accusamus veniam commodi fugit cumque! Hic ab aut amet? Animi illum accusantium suscipit magnam facilis rem tempora, beatae delectus debitis ea? Magnam alias veniam soluta libero debitis ad corporis, tenetur natus, adipisci officiis a minus omnis, at obcaecati perferendis neque dolore dolor esse.</p>
        </section>

        <div class="container flex bg">
            <span class="border">
                parallax example
            </span>
        </div>
    </div>
*/

/* ------------- CSS ------------- */
#fixed-bg {
    text-align: center;
}
#fixed-bg h2 {
    margin-bottom: 2rem;
    text-transform: capitalize;
}
#fixed-bg p {
    line-height: 1.8em;
}

#fixed-bg .bg {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#fixed-bg .bg:first-child, 
#fixed-bg .bg:last-child {
    background-image: url("./assets/img/branch-copy.jpg");
}
#fixed-bg .bg:nth-child(3) {
    min-height: 400px;
    background-image: url("./assets/img/foggy-lake-quang-nguyen-vinh-2166695-copy.jpg");
}
#fixed-bg .bg:nth-child(5) {
    min-height: 400px;
    background-image: url("./assets/img/scenic-view-of-lake-against-sky-during-sunset-copy.jpg");
}

.border {
    font-size: 5rem;
    text-transform: capitalize;
}

#fixed-bg section {
    padding: 3rem 5rem;
}

/* Turn Off Parallax Effects on Mobile */
@media screen and (max-width: 568px) {
    #fixed-bg .bg {
        background-attachment: scroll;
    }
}


/* ===================================== Parallax Effect | Transform Perspective ===================================== */
/* ------------- HTML ------------- 
    <section class="container flex parallax">
        <img src="../CSS/assets/img/headphone.png" alt="Headphones">
        <div class="content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum iure dicta impedit autem explicabo at dignissimos ipsam expedita adipisci alias pariatur dolorem officiis modi asperiores nam numquam quam magnam earum, voluptatem nobis minima obcaecati placeat! Exercitationem eaque eos quia vero pariatur officia optio corrupti, esse voluptates nobis iusto maiores.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloribus repellat nam molestias quibusdam quidem? Eveniet excepturi adipisci nesciunt maiores eius magni tempora sapiente maxime ratione deleniti dolores eligendi, suscipit beatae! Iusto ipsum quisquam reiciendis? Ducimus neque quaerat, sunt voluptatibus deserunt minus dignissimos in possimus odio omnis sapiente, distinctio dolorum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ex reiciendis cupiditate est sed, doloremque consectetur nobis eum optio cumque nulla odit libero voluptates. Ipsam tenetur veritatis optio natus praesentium error doloremque architecto adipisci quas. Magnam ab quibusdam cum fugit? Provident ratione at quia debitis architecto repudiandae dolores deleniti eos.</p>
        </div>
    </section>
    <section class="container flex regular">
        <img src="../CSS/assets/img/can-real-sugar-reg.png" alt="Pepsi">
        <div class="content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum iure dicta impedit autem explicabo at dignissimos ipsam expedita adipisci alias pariatur dolorem officiis modi asperiores nam numquam quam magnam earum, voluptatem nobis minima obcaecati placeat! Exercitationem eaque eos quia vero pariatur officia optio corrupti, esse voluptates nobis iusto maiores.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloribus repellat nam molestias quibusdam quidem? Eveniet excepturi adipisci nesciunt maiores eius magni tempora sapiente maxime ratione deleniti dolores eligendi, suscipit beatae! Iusto ipsum quisquam reiciendis? Ducimus neque quaerat, sunt voluptatibus deserunt minus dignissimos in possimus odio omnis sapiente, distinctio dolorum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ex reiciendis cupiditate est sed, doloremque consectetur nobis eum optio cumque nulla odit libero voluptates. Ipsam tenetur veritatis optio natus praesentium error doloremque architecto adipisci quas. Magnam ab quibusdam cum fugit? Provident ratione at quia debitis architecto repudiandae dolores deleniti eos.</p>
        </div>
    </section>
*/

/* ------------- CSS ------------- */
/* ========== Uncomment the next lines to make it work =========== */
/* html {
    overflow: hidden;
}
body {
    transform-style: preserve-3d;
}
.parallax {
    transform: translateZ(-1px) scale(2);
} */
/* =========================================== */

body {
    font-size: 18px;
    font-family: 'Great Vibes', cursive;
    height: 100vh;
    perspective: 1px;
    overflow-x: hidden;
}

/* #perspective {
    color: #fff;
    font-size: 18px;
    font-family: 'Great Vibes', cursive;
    min-height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
} */

.parallax {
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to top, #005b9e, #000);
    background-size: cover;
    transform-style: preserve-3d;
}
/* .parallax::before {
    position: absolute;
    inset: 0 auto auto 0;
    content: '';
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/img/alley-copy.jpg");
    background-size: cover;
    z-index: -1;
} */
.regular {
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to top, #000, #005b9e);
    background-size: cover;
    z-index: 2;
}
.content {
    max-width: max(300px, 50%);
    padding: 50px;
    color: #fff;
    text-align: center;
}
section > img {
    max-width: max(200px, 30%);
}


/* ===================================== Parallax Effect v.1 ===================================== */
/* ------------- HTML ------------- 
    <section id="parallax-v1" class="container">
        <div class="frame">
            <img src="../CSS/assets/img/parallax/v1/plan1.png" id="img1" alt="">
            <img src="../CSS/assets/img/parallax/v1/mist.png" id="img2" alt="">
            <img src="../CSS/assets/img/parallax/v1/plan2.png" id="img3" alt="">
            <img src="../CSS/assets/img/parallax/v1/mist2.png" id="img4" alt="">
            <img src="../CSS/assets/img/parallax/v1/00.png" id="img5" alt="">
        </div>
    </section>
*/

/* ------------- CSS ------------- */
#parallax-v1 {
    background-color: #111;
    background-image: url("./assets/img/miao-gengxin-gu435nBTLW4-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    overflow: hidden;
}

#parallax-v1 .frame {
    position: relative;
    inset: 100px auto auto 50%;
    transform: translateX(-50%);
    width: 550px;
    height: 698px;
    margin-top: -70px;
    margin-bottom: 300px;
    border-radius: 10px;
    box-shadow: 0 0 50px #000;
    overflow: hidden;
}
#parallax-v1 img {
    position: absolute;
    transform-origin: 50%;
    width: 100%;
    transition: 2s ease;
}
#parallax-v1 .frame:hover #img1 {
    transform: scale(1.2);
    filter: blur(4px);
}
#parallax-v1 #img2 {
    width: 2000px;
    height: 300px;
    bottom: 0;
    left: -100%;
    transition: 60s linear;
    z-index: 4;
}
#parallax-v1 .frame:hover #img2 {
    left: 0;
}
#parallax-v1 #img4 {
    width: 200%;
    height: 200px;
    bottom: 0;
    z-index: 6;
}
#parallax-v1 .frame:hover #img4 {
    transform: translate(-50%, 100%);
}
#parallax-v1 .frame #img5 {
    z-index: 5;
}
#parallax-v1 .frame:hover #img5 {
    transform: scale(2);
}
