/* ===============  HTML  ===============
    <h2 id="v1"> text I  </h2>
    <h2 id="v2"> text II </h2>
*/

/* ===============  CSS  =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./assets/img/stock-photo-127204601-copy.jpg") no-repeat;
    background-position: center;
    background-size: 120% 120%;
    animation: move 60s linear infinite alternate;
}
@keyframes move {
    0% {background-position: left;}
    100% {background-position: right;}
}

h1 {
    width: 100% !important;
    color: white;
}

img {
    position: absolute;
}

h2 {
    font-size: 16vw;
    padding: 20px 40px;
    border-radius: 50px;
    text-transform: uppercase;
}
#v1 {
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    mix-blend-mode: screen;
}
#v2 {
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    mix-blend-mode: multiply;
}
