@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Poppins:wght@300;400;700;800&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Russo One', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block !important;
    width: 100%;
    height: 100vh;
}

/* ========================================================  Buttons .v1  ======================================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./neumorphism/neumorphism.css" />
</head>

    <section class="sci-buttons-v1">
        <div class="box-icon flex-center">
            <i class="fa fa-facebook-f"></i>
        </div>
        <div class="box-icon flex-center">
            <i class="fa fa-twitter"></i>
        </div>
        <div class="box-icon flex-center">
            <i class="fa fa-instagram"></i>
        </div>
        <div class="box-icon flex-center">
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
*/

/* ---------------  CSS  --------------- */

.sci-buttons-v1 input,
.sci-buttons-v1 button {
    background-color: transparent;
    border: none;
    outline: none;
}

.sci-buttons-v1 i {
    color: #b6bbc5;
    font-size: 1.6rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sci-buttons-v1 {
    width: 50%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, .1),
        -0.1rem -0.1rem 0.2rem rgba(255, 255, 255, .5);
}     
.box-icon:hover {
    box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, .1),
        inset -0.1rem -0.1rem 0.2rem rgba(255, 255, 255, .5);
}
.box-icon:active {
    box-shadow: none;
}

.box-icon:hover i {
    color: #92969e;
}


/* ========================================================  Buttons .v2  ======================================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./neumorphism/neumorphism.css" />
</head>

    <section class="sci-buttons-v2-container">
        <ul class="sci-buttons-v2">
            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
    </section>
*/

/* ---------------  CSS  --------------- */
.sci-buttons-v2-container {
    display:flex;
    align-items:center;
    justify-content:center;
    background:#18191f;
    min-height:20vh;
}
.sci-buttons-v2 {
    display:flex;
    margin: 10px 0;
}
.sci-buttons-v2 li {
    list-style:none;
}
.sci-buttons-v2 li a {
    display:block;
    width:50px;
    height:50px;
    background:#18191f;
    line-height:55px;
    text-align:center;
    margin: 0 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2),
    -2px -2px 3px rgba(255,255,255,0.05);
    transition: all .2s ease-in-out;
}
.sci-buttons-v2 li a .fa {
    font-size:22px;
    color: #555;
}
.sci-buttons-v2 li a:hover .fa {
    color: #054982;
    text-shadow: 0 0 15px #054982;
}
.sci-buttons-v2 li:nth-child(2) a:hover .fa {
    color: #d43256;
    text-shadow: 0 0 15px #d43256;
}
.sci-buttons-v2 li:nth-child(3) a:hover .fa {
    color: #1c7dd5;
    text-shadow: 0 0 15px #1c7dd5;
}
.sci-buttons-v2 li:nth-child(4) a:hover .fa {
    color: #4cd137;
    text-shadow: 0 0 15px #4cd137;
}


/* ========================================================  Buttons .v3  ======================================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./neumorphism/neumorphism.css" />
</head>

    <div class="sci-buttons-v3-container">
        <section class="sci-buttons-v3-inner">
            <div class="toggle-box">
                <i class="fa fa-youtube toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-whatsapp toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-twitter toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-facebook-f toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-snapchat-ghost toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-pinterest toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-behance toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-dribbble toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-instagram toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-tumblr toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-linkedin toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-github toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-skype toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-weixin toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-reddit-alien toggles-icon"></i>
            </div>
            <div class="toggle-box">
                <i class="fa fa-etsy toggles-icon"></i>
            </div>
        </section>
    </div>
*/

/* ---------------  JS  --------------- 
    <script>
        const toggleBtns = document.querySelectorAll('.toggle-box');
        toggleBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                btn.classList.toggle('pressed');
            })
        })
    </script>
*/

/* ---------------  CSS  --------------- */

.sci-buttons-v3-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #8f8f8f;
    background: #deeaf6;
}
.sci-buttons-v3-inner {
    width: 350px;
    height: 350px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    background: linear-gradient(-45deg, rgb(224, 236, 248), rgb(243, 247, 251));
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(166, 182, 195, 0.72),
              -3px -3px 10px rgba(255, 255, 255, 0.58);
}

.toggle-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(-45deg, rgb(224, 236, 248), rgb(243, 247, 251));
    border-radius: 10px;
    box-shadow: -3px -3px 10px rgb(255, 255, 255),
          3px 3px 10px rgba(183, 193, 204, 0.678);
    transition: box-shadow 700ms ease, color 700ms ease;
}
.pressed {
    background: linear-gradient(-45deg, rgb(243, 247, 251), rgb(224, 236, 248));
}
.toggles-icon {
    font-size: 25px;
}
.toggle-box:nth-child(1) i {
    color: #c4302b;
}
.toggle-box:nth-child(2) i {
    color: #4dae4f;
}
.toggle-box:nth-child(3) i {
    color: #00acee;
}
.toggle-box:nth-child(4) i {
    color: #3b5998;
}
.toggle-box:nth-child(5) i {
    color: #fdc13b;
}
.toggle-box:nth-child(6) i {
    color: #b23d3b;
}
.toggle-box:nth-child(7) i {
    color: #2b7fb5;
}
.toggle-box:nth-child(8) i {
    color: #ea4c89;
}
.toggle-box:nth-child(9) i {
    color: #ce5761;
}
.toggle-box:nth-child(10) i {
    color: #34414b;
}
.toggle-box:nth-child(11) i {
    color: #2174c9;
}
.toggle-box:nth-child(12) i {
    color: #211f1f;
}
.toggle-box:nth-child(13) i {
    color: #00aff0;
}
.toggle-box:nth-child(14) i {
    color: #8ed131;
}
.toggle-box:nth-child(15) i {
    color: #ff4500;
}
.toggle-box:nth-child(16) i {
    color: rgb(220, 116, 25);
}


/* ===========================================  Neumorphic Social Media Icons | .v1  =========================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./neumorphism/buttons-neumorphism.css" />
</head>

    <div class="neumorphic-social-media-icons-container-v1">
        <div class="icons-v1">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-pinterest"></i>
        </div>

        <!-- ------------ v.1.2 ----------- -->
            <div class="iconsv12">
                <ul>
                    <li><a ><span class="fa fa-facebook"></span></a></li>
                    <li><a ><span class="fa fa-instagram"></span></a></li>
                    <li><a ><span class="fa fa-twitter"></span></a></li>
                    <li><a ><span class="fa fa-pinterest"></span></a></li>
                </ul>
            </div>
    </div>

*/

/* ---------------  CSS  --------------- */
.neumorphic-social-media-icons-container-v1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #dde1e7;
    text-align: center;
}

.icons-v1 {
    display: flex;
    margin: 40px 0;
}
.icons-v1 i {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 10px;
    font-size: 27px;
    padding: 21px;
    color: #b6bbc5;
    border-radius: 50%;
    background: #dde1e7;
    box-shadow:
    -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94, 104, 121, 0.288);
}

.icons-v1 i:active {
    color: #b6bbc5;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.icons-v1 .fa-facebook {
    color: rgb(13, 16, 233);
}
.icons-v1 .fa-instagram {
    color: rgb(240, 10, 201);
}
.icons-v1 .fa-twitter {
    color: rgb(9, 177, 228);
}
.icons-v1 .fa-pinterest {
    color: rgb(223, 10, 10);
}

    /* ---------------  v.1.2  --------------- */
    .iconsv12 ul {
        display: flex;
        flex-direction: row;
        margin: 40px 0;
    }
    .iconsv12 li {
        position: relative;
        width: 70px;
        height: 70px;
        margin: 0 10px;
        font-size: 27px;
        padding: 21px;
        border: 4px solid #dde1e7;
        border-radius: 50%;
        background: #dde1e7;
        list-style: none;
        box-shadow:
        -3px -3px 7px #ffffff73,
        3px 3px 5px rgba(94, 104, 121, 0.288);
    }
    
    .iconsv12 li a {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        line-height: 60px;
        border-radius: 50%;
        box-shadow:
        inset -3px -3px 7px #ffffff73,
        inset 3px 3px 5px rgba(94, 104, 121, 0.288);
    }
    
    .iconsv12 li a:active {
        box-shadow:
        inset 0px 0px 0px #ffffff73,
        inset 0px 0px 0px rgba(94, 104, 121, 0.288);
    }
    .iconsv12 li a:active span{
        color: #b6bbc5;
    }
    
    .iconsv12 .fa-facebook{
        color: rgb(13, 16, 233);
    }
    .iconsv12 .fa-instagram {
        color: rgb(240, 10, 201);
    }
    .iconsv12 .fa-twitter {
        color: rgb(9, 177, 228);
    }
    .iconsv12 .fa-pinterest {
        color: rgb(223, 10, 10);
    }


/* ===========================================  Neumorphic Social Media Icons | .v2  =========================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./neumorphism/neumorphism.css" />

    <div class="neumorphic-social-media-icons-container-v2">
        <ul class="neumorphic-icons-v2">
            <li><a class="wpexplorer"><span class="fa fa-wpexplorer"></span></a></li>
            <li><a class="university"><span class="fa fa-university"></span></a></li>
            <li><a class="gavel"><span class="fa fa-gavel"></span></a></li>
            <li><a class="anchor"><span class="fa fa-anchor"></span></a></li>
            <li><a class="free-code-camp"><span class="fa fa-free-code-camp"></span></a></li>
        </ul>
    </div>
</head>

/* ---------------  CSS  --------------- */
.neumorphic-social-media-icons-container-v2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #dde1e7;
    text-align: center;
}

.neumorphic-icons-v2 {
    position: relative;
    display: flex;
}
.neumorphic-icons-v2 li {
    list-style: none;
}

.neumorphic-icons-v2 li a {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    background: #dde1e7;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    z-index: 2;
}
.neumorphic-icons-v2 li a:hover {
    transform: translateY(-20px) scale(1.2);
    box-shadow: 2px 24px 10px rgba(0, 0, 0, 0.1),
    inset -1px -1px 2px rgba(0, 0, 0, 0.2);
}
.neumorphic-icons-v2 li a.wpexplorer:before {
    content: '';
    position: absolute;
    width: 67%;
    height: 67%;
    background: currentColor;
    outline: 2px solid currentColor;
    outline-offset: 4px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.neumorphic-icons-v2 li a.university:before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background: currentColor;
    outline: 1px solid currentColor;
    outline-offset: 2px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.neumorphic-icons-v2 li a.gavel:before {
    content: '';
    position: absolute;
    width: 75%;
    height: 75%;
    background: currentColor;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.neumorphic-icons-v2 li a.anchor span {
    color: currentColor;
}
.neumorphic-icons-v2 li a.anchor:before {
    content: '';
    position: absolute;
    width: 67%;
    height: 67%;
    background: #dde1e7;
    outline: 2px solid currentColor;
    outline-offset: 4px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.neumorphic-icons-v2 li a.free-code-camp:before {
    content: '';
    position: absolute;
    width: 67%;
    height: 67%;
    background: currentColor;
    outline: 2px solid currentColor;
    outline-offset: 4px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.neumorphic-icons-v2 li a span {
    position: relative;
    color: #fff;
    z-index: 2;
}

.wpexplorer {
    color: #1877f2;
}
.university {
    color: #ea4c89;
}
.gavel {
    color: #1da1f2;
}
.anchor {
    color: #c32aa3;
    background: #c32aa3;
}
.free-code-camp {
    color: #0f8c2e;
}


/* ===========================================    =========================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./neumorphism/neumorphism.css" />

</head>

/* ---------------  CSS  --------------- */