@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Poppins:wght@300;400;700;800&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Russo One', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block !important;
    width: 100%;
    height: 100vh;
}

/* ========================================================  Text  ======================================================== */
/* ---------------  HTML  --------------- 
    <div class="text-bg-navy">
        <h1 class="text-up">NEUMORPHISM</h1>
    </div>
    <div class="text-bg-light">
        <p class="text-down">I love Neumorphism Effect</p>
    </div>
*/

/* ---------------  CSS  --------------- */
.text-bg-navy {
  height: 50vh;
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
  background: #4a678e;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-up {
  width: 100%;
  margin: 0 1em;
  color: #4a678e;
  font-size: 9vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-shadow: 5px 5px 10px #394f6c, -5px -5px 10px #5f80ac;
}

.text-bg-light {
    height: 50vh;
    width: 100vw;
    display: flex;
    /* background: #e0e5ec; */
    background: #4a678e;
    align-items: center;
    justify-content: center;
}
.text-down {
    font-size: 70px;
    font-weight: bolder;
    color: transparent;
    /* background: #b1b1b1; */
    background: #394f6c;
    background-clip: content-box;
    -webkit-background-clip: text;
    /* text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.5) ; */
    text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.193) ;
}

/* ========================================================  Neumorphic Shadows  ======================================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="./neumorphism/neumorphism.css" />
</head>

    <section class="neumorphic-shadows-templates">
        <div class="neumorphic-shadow">
            <div class="shadow-box" id="drop-shadow"></div>
            <div class="shadow-title">Shadow 2</div>
            <div class="shadow-subtitle">Drop shadow</div>
        </div>
        <div class="neumorphic-shadow">
            <div class="shadow-box" id="inner-shadow"></div>
            <div class="shadow-title">Shadow 3</div>
            <div class="shadow-subtitle">Inner shadow</div>
        </div>
        <div class="neumorphic-shadow">
            <div class="shadow-box" id="inset-shadow"></div>
            <div class="shadow-title">Shadow 4</div>
            <div class="shadow-subtitle">Inset shadow</div>
        </div>
        <div class="neumorphic-shadow">
            <div class="shadow-box dual-shadow"></div>
            <div class="shadow-title">Shadow 2 &amp; 3</div>
            <div class="shadow-subtitle">Inner shadow</div>
        </div>
        <div class="neumorphic-shadow">
            <div class="shadow-box dual-shadow" id="dual-shadow-circle"></div>
            <div class="shadow-title">Shadow 2 &amp; 3 Circle</div>
            <div class="shadow-subtitle">Inner shadow</div>
        </div>
    </section>
*/

/* ---------------  CSS  --------------- */
.neumorphic-shadows-templates {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e8eaec;
}

.neumorphic-shadow {
    padding: 24px;
}
.shadow-box {
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 15%;
}
#drop-shadow {
    box-shadow: 12px 12px 32px rgba(13, 39, 80, 0.25),
    -10px -10px 15px #fff;
}
#inner-shadow {
    box-shadow: -10px -10px 15px #fff,
    12px 12px 32px rgba(13, 39, 80, 0.25),
    inset -15px -15px 20px rgba(255, 255, 255, 0.7),
    inset 8px 8px 30px rgba(13, 39, 80, 0.2);
}
#inset-shadow {
    box-shadow: inset 8px 8px 30px rgba(13, 39, 80, 0.2),
    inset -15px -15px 20px rgb(255, 255, 255);
}
.dual-shadow {
    box-shadow: -10px -10px 15px #fff, 
    12px 12px 32px rgba(13, 39, 80, 0.25),
    inset -15px -15px 20px rgba(255, 255, 255, 0.7),
    inset 8px 8px 30px rgba(13, 39, 80, 0.2);
}
.dual-shadow::before {
    content: '';
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    box-shadow: -10px -10px 15px #fff, 
    12px 12px 32px rgba(13, 39, 80, 0.25);
}
#dual-shadow-circle {
    border-radius: 50%;
}

.shadow-title {
    padding-top: 48px;
    padding-left: 24px;
    font-size: 24px;
    font-weight: bold;
    color: #0b254e;
}
.shadow-subtitle {
    padding-top: 12px;
    padding-left: 24px;
    font-size: 18px;
    color: #c2c3c3;
}


/* ========================================================  Search Bar  ======================================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <div class="searchbox-container">
        <div class="searchbox">
          <div class="searchbox-field">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="search" placeholder="search">
          </div>
        </div>
    </div>
*/

/* ---------------  CSS  --------------- */
.searchbox-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    padding: 10px 10px;
}

.searchbox {
    width: 100%;
}

.searchbox-field {
    position: relative;
    display: flex;
    height: 40px;
}
.searchbox-field i {
    position: absolute;
    width: 50px;
    text-align: center;
    line-height: 40px;
    color: #8a92a5;
}
.searchbox-field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background:#ebecf0;
    border-radius: 25px;
    box-shadow:
    inset -3px -3px 6px  #ffffff,
    inset  3px 3px 6px  #d1d9e6;
}
::placeholder {
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    color: #8a92a5;
    font-family: 'Poppins', sans-serif;
}
/* TODO: CUSTOM CLEAR BUTTON */

/* ========================================================  Relef Frame | Convex  ======================================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./neumorphism/neumorphism.css" />
</head>

    <section class="relef-frame-convex sci-buttons-v1">
        <div class="box-icon flex-center">
            <i class="fa fa-facebook-f"></i>
        </div>
        <div class="box-icon flex-center">
            <i class="fa fa-twitter"></i>
        </div>
        <div class="box-icon flex-center">
            <i class="fa fa-instagram"></i>
        </div>
        <div class="box-icon flex-center">
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
*/

/* ---------------  CSS  --------------- */
.relef-frame-convex {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    border-radius: 50px;
    box-shadow: inset -3px -3px 4px 0px rgba(0, 0, 0, 0.02),
    -1px -1px 3px 0 rgba(255, 255, 255, 0.075),
    inset 3px 3px 6px 0px rgba(0, 0, 0, 0.06),
    inset 2px 2px 3px 0 rgba(255, 255, 255, 0.07),
    1px 2px 3px 2px rgba(0, 0, 0, 0.1);
}
.sci-buttons-v1 {
    width: 50%;
    padding: 20px 0;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sci-buttons-v1 input,
.sci-buttons-v1 button {
    background-color: transparent;
    border: none;
    outline: none;
}

.sci-buttons-v1 i {
    color: #b6bbc5;
    font-size: 1.6rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, .1),
        -0.1rem -0.1rem 0.2rem rgba(255, 255, 255, .5);
}     
.box-icon:hover {
    box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, .1),
        inset -0.1rem -0.1rem 0.2rem rgba(255, 255, 255, .5);
}
.box-icon:active {
    box-shadow: none;
}

.box-icon:hover i {
    color: #92969e;
}


/* ========================================================  Buttons .v2  ======================================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="./neumorphism/neumorphism.css" />
</head>

    <section class="tabs-container">
        <div class="tabs">
            <input type="radio" name="radio2" value="3" id="tab-1" checked/>
            <label for="tab-1" class="label-1">
              <p>Tab 1</p></label>
            
            <input type="radio" name="radio2" value="4" id="tab-2" />
            <label for="tab-2" class="label-2">
              <p>Tab 2</p></label>
            
            <input type="radio" name="radio2" value="5" id="tab-3" />
            <label for="tab-3" class="label-3">
              <p>Tab 3</p></label>
            
            <div class="window"></div>
        </div>
    </section>
*/

/* ---------------  CSS  --------------- */
:root {
    --tabs-text: #6d5dfc;
    --tabs-greyLight-1: #E4EBF5;
    --tabs-greyLight-2: #c8d0e7;
    --tabs-greyDark: #9baacf;
    --white: #FFFFFF;
}
.tabs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background: var(--tabs-greyLight-1);
}

.tabs {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 20.4rem;
    height: 4rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--tabs-greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
}
.tabs input {
    display: none;
}
.tabs > input:checked + label {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: var(--tabs-text);
}

.label-1, .label-2, .label-3 {
    width: 6.8rem;
    height: 3.6rem;
    font-size: 1.4rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    cursor: pointer;
    color: var(--tabs-greyDark);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.label-1:hover, .label-2:hover, .label-3:hover {
    color: var(--tabs-text);
}

.window {
    position: absolute;
    height: 3.4rem;
    width: 6.2rem;
    margin-left: .3rem;
    border-radius: .8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--tabs-greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    pointer-events: none;
}

#tab-1:checked ~ .window {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), 
    -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-2:checked ~ .window {
    -webkit-transform: translateX(6.8rem);
            transform: translateX(6.8rem);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), 
    -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-3:checked ~ .window {
    -webkit-transform: translateX(13.6rem);
            transform: translateX(13.6rem);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), 
    -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/* ========================================================  Buttons .v2  ======================================================== */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./neumorphism/neumorphism.css" />
</head>

    <section class="sci-buttons-v2-container">
        <ul class="sci-buttons-v2">
            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
    </section>
*/

/* ---------------  CSS  --------------- */
.sci-buttons-v2-container {
    display:flex;
    align-items:center;
    justify-content:center;
    background:#18191f;
    min-height:20vh;
}
.sci-buttons-v2 {
    display:flex;
    margin: 10px 0;
}
.sci-buttons-v2 li {
    list-style:none;
}
.sci-buttons-v2 li a {
    display:block;
    width:50px;
    height:50px;
    background:#18191f;
    line-height:55px;
    text-align:center;
    margin: 0 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2),
    -2px -2px 3px rgba(255,255,255,0.05);
    transition: all .2s ease-in-out;
}
.sci-buttons-v2 li a .fa {
    font-size:22px;
    color: #555;
}
.sci-buttons-v2 li a:hover .fa {
    color: #054982;
    text-shadow: 0 0 15px #054982;
}
.sci-buttons-v2 li:nth-child(2) a:hover .fa {
    color: #d43256;
    text-shadow: 0 0 15px #d43256;
}
.sci-buttons-v2 li:nth-child(3) a:hover .fa {
    color: #1c7dd5;
    text-shadow: 0 0 15px #1c7dd5;
}
.sci-buttons-v2 li:nth-child(4) a:hover .fa {
    color: #4cd137;
    text-shadow: 0 0 15px #4cd137;
}

