@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Poppins:wght@300;400;700;800&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Russo One', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block !important;
    width: 100%;
    height: 100vh;
}

/* ========================================================  Text  ======================================================== */
/* ===============  HTML  =============== 
    <div class="text-bg-navy">
        <h1 class="text-up">NEUMORPHISM</h1>
    </div>
    <div class="text-bg-light">
        <p class="text-down">I love Neumorphism Effect</p>
    </div>
*/

/* ===============  CSS  =============== */
.text-bg-navy {
  height: 50vh;
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
  background: #4a678e;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-up {
  width: 100%;
  margin: 0 1em;
  color: #4a678e;
  font-size: 9vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-shadow: 5px 5px 10px #394f6c, -5px -5px 10px #5f80ac;
}

.text-bg-light {
    height: 50vh;
    width: 100vw;
    display: flex;
    /* background: #e0e5ec; */
    background: #4a678e;
    align-items: center;
    justify-content: center;
}
.text-down {
    font-size: 70px;
    font-weight: bolder;
    color: transparent;
    /* background: #b1b1b1; */
    background: #394f6c;
    background-clip: content-box;
    -webkit-background-clip: text;
    /* text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.5) ; */
    text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.193) ;
}

/* ========================================================  Search Bar  ======================================================== */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <div class="searchbox-container">
        <div class="searchbox">
          <div class="searchbox-field">
            <!-- <span class="fas fa-search" aria-hidden="true"></span> -->
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="search" placeholder="search">
          </div>
        </div>
    </div>
*/

/* ===============  CSS  =============== */
.searchbox-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    padding: 10px 10px;
}

.searchbox {
    width: 100%;
}

.searchbox-field {
    position: relative;
    display: flex;
    height: 40px;
}
.searchbox-field i {
    position: absolute;
    width: 50px;
    line-height: 40px;
    color: #8a92a5;
}
.searchbox-field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background:#ebecf0;
    border-radius: 25px;
    box-shadow:
    inset -3px -3px 6px  #ffffff,
    inset  3px 3px 6px  #d1d9e6;
}
::placeholder {
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    color: #8a92a5;
    font-family: 'Poppins', sans-serif;
}



