@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400;700;800&family=Raleway&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    height: 100vh;
    background: url("../assets/img/stock-photo-127204601-copy.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    animation: move 60s linear infinite alternate;
}
@keyframes move {
    0% {background-position: left;}
    100% {background-position: right;}
}

/* ==========================================================  Side Bar .v1  ==========================================================  */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="./navigations/sidebars.css" />
</head>

    <section class="sidebar-v1-container">
        <nav class="sidebar-v1">
            <div class="sidebar-v1-menu-toggle">
                <div class="sidebar-v1-hamburger">
                    <span></span>
                </div>
            </div>
            <ul class="sidebar-v1-links">
                <li class="active-link">
                    <a href="#" class="sidebar-v1-link">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar-v1-link">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="text">About</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar-v1-link">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        <span class="text">Messages</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar-v1-link">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <span class="text">Photos</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sidebar-v1-link">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
*/
/* ---------------  JS  --------------- 
    <script>
        const sidebar = document.querySelector('.sidebar-v1');
        const hamburger = document.querySelector('.sidebar-v1-menu-toggle');
        hamburger.addEventListener('click', () => {
            hamburger.classList.toggle('active');
            sidebar.classList.toggle('opened');
        })
        
        const links = document.querySelectorAll('.sidebar-v1-links li');
        function activate() {
            links.forEach(link => {
                link.classList.remove('active-link');
            })
            this.classList.add('active-link');
        }
        links.forEach(link => {
            link.addEventListener('click', activate);
        })
    </script>
*/

/* ---------------  CSS  --------------- */

.sidebar-v1-container {
    width: 300px;
    height: 100vh;
    text-align: center;
    background: rgb(0, 0, 0, 0.4);
}

.sidebar-v1 {
    /* position: fixed; */
    position: relative;
    width: 75px;
    inset: 20px 0 20px 20px;
    /* background: #fff; */
    border-radius: 10px;
    transition: 0.5s;
}
.sidebar-v1.opened {
    width: 250px;
    background-image: url('../assets/img/wp7360943-black-lady-wallpapers-copy.jpg');
    background-position: center;
    background-size: cover;
}

.sidebar-v1-menu-toggle {
	width: 60px;
	height: 60px;
    margin: 6px;
	border-radius: 10px;
    /* background: #fff; */
    /* background: rgba(255, 255, 255, 0.6); */
	cursor: pointer;
}

.sidebar-v1-hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.sidebar-v1-hamburger > span,
.sidebar-v1-hamburger > span::before,
.sidebar-v1-hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  /* background-color: #2e3047; */
  background: #fff;
  transition-duration: .25s;
}

.sidebar-v1-hamburger > span::before {
  content: '';
  top: -8px;
}
.sidebar-v1-hamburger > span::after {
  content: '';
  top: 8px;
}
.sidebar-v1-menu-toggle.active .sidebar-v1-hamburger > span {
  transform: rotate(45deg);
}
.sidebar-v1-menu-toggle.active .sidebar-v1-hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.sidebar-v1-menu-toggle.active .sidebar-v1-hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar-v1-links li {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    list-style: none;
    transition: 0.5s;
}
.sidebar-v1-link {
    display: flex;
    margin: 10px;
    text-decoration: none;
    transition: 0.5s;
}
.sidebar-v1-link i {
    width: 55px;
    height: 55px;
    padding: 13px 0px;
    font-size: 26px;
    /* color: #222; */
    color: #fff;
    /* background: rgba(0, 0, 0, 0.6); */
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
}
.sidebar-v1-link .text {
    padding: 14px 15px;
    /* color: #333; */
    color: #fff;
    /* background: rgba(0, 0, 0, 0.6); */
    opacity: 0;
    transition: 0.5s;
}
.sidebar-v1.opened ul li a .text {
    opacity: 1;
}

.active-link {
    transform: translate(20px);
}
.active-link .sidebar-v1-link .fa-home {
    color: #fff;
    color: #f44366;
    /* background: #f44366; */
    /* box-shadow: -4px 4px 10px rgba(244, 67, 102, 0.7); */
}
.active-link .sidebar-v1-link .fa-home ~ span {
    color: #f44366;
}
.active-link .sidebar-v1-link .fa-eye {
    color: #fff;
    color: #ffa117;
    /* background: #ffa117; */
    /* box-shadow: -4px 4px 10px rgba(255, 161, 23, 0.7); */
}
.active-link .sidebar-v1-link .fa-eye ~ span {
    color: rgba(255, 161, 23, 0.7);
}
.active-link .sidebar-v1-link .fa-comments-o {
    color: #fff;
    color: #0fc70f;
    /* background: #0fc70f; */
    /* box-shadow: -4px 4px 10px rgba(15, 199, 15, 0.7); */
}
.active-link .sidebar-v1-link .fa-comments-o ~ span {
    color: rgba(15, 199, 15, 0.7);
}
.active-link .sidebar-v1-link .fa-picture-o {
    color: #fff;
    color: #2196f3;
    /* background: #2196f3; */
    /* box-shadow: -4px 4px 10px rgba(33, 150, 243, 0.7); */
}
.active-link .sidebar-v1-link .fa-picture-o ~ span {
    color: rgba(33, 150, 243, 0.7);
}
.active-link .sidebar-v1-link .fa-cog {
    color: #fff;
    color: #b145f9;
    /* background: #b145f9; */
    /* box-shadow: 0px 4px 10px rgba(177, 69, 249, 0.7); */
}
.active-link .sidebar-v1-link .fa-cog ~ span{
    color: rgba(177, 69, 249, 0.7);
}
.sidebar-v1.opened a {
    transform: translateX(20px);
}


/* ==========================================================  Side Bar .v2  ==========================================================  */
/* ---------------  HTML  --------------- 
*/

/* ---------------  JS  --------------- 
*/

/* ---------------  CSS  --------------- */
:root {
    /* ----- Colors ----- */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #b145f9;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
}

.sidebar-v2-container {
    width: 250px;
    height: 100vh;
    background: var(--body-color);
}
.sidebar-v2 {
    position: fixed;
    top: 0;
    left: 300px;
    width: 250px;
    height: 100%;
    padding: 10px 14px;
    background: var(--sidebar-color);
}

.logo {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.logo img {
    width: 75px;
}
.logo-text {
    margin: auto;
    padding: 0px 10px;
    color: var(--text-color);
}
.title {
    font-size: 30px;
}
.subtitle {
    font-size: 16px;
}

.logo .fa-chevron-right {
    position: absolute;
    right: -11px;
    width: 25px;
    height: 25px;
    padding: 7px 10px;
    font-size: 12px;
    border-radius: 50%;
    color: var(--sidebar-color);
    background: var(--primary-color);
}

.menu-search {
    margin-top: 25px;
}
.menu-search i {
    position: absolute;
    padding: 10px 13px;
    color: var(--primary-color);
}
.menu-search input {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    background: var(--primary-color-light);
}
.menu-search input::placeholder {
    color: var(--primary-color);
}

.menu-link {
    height: 50px;
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s;
}
.menu-link:hover {
    background: var(--primary-color);
}
.menu-link a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
.menu-link:hover a {
    color: var(--sidebar-color);
}
.menu-link a i {
    font-size: 30px;
    margin: 0 20px;
}
.text {
    font-size: 22px;
}

.menu-links {}
.sidebar-v2-link {}



/* ==========================================================  Side Bar .v3  ==========================================================  */
/* ---------------  HTML  --------------- 
<head>
    <link rel="stylesheet" href="./navigations/sidebars.css" />
</head>

    <section class="layout3" id="sb3">
        <div class="layout-wrapper3">
          <header class="layout-header3">
            <nav>
              <ul class="nav-ul3">
                <li class="nav-item3">
                  <a class="nav-link3" href="#sb3">Home</a>
                </li>
                <li class="nav-item3">
                  <a class="nav-link3" href="#sb3">About</a>
                </li>
                <li class="nav-item3">
                  <a class="nav-link3" href="#sb3">Clients</a>
                </li>
                <li class="nav-item3">
                  <a class="nav-link3" href="#sb3">Services</a>
                </li>
                <li class="nav-item3">
                  <a class="nav-link3" href="#sb3">Contact</a>
                </li>
              </ul>
            </nav>
          </header>
        </div>
    </section>
*/

/* ---------------  CSS  --------------- */
.layout-wrapper3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    height: 100%;
    background-image: url('../assets/img/alley-copy.jpg');
    background-position: center;
    background-size: cover;
}

.layout-header3 {
    height: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);
}

.nav-ul3 {
    counter-reset: n;
    height: 100%;
    min-height: 100vh;
    padding: 2rem;
    list-style: none;
}

.nav-item3 {
    counter-increment: n;
}

.nav-link3 {
    position: relative;
    display: block;
    height: 100px;
    padding: 3rem 1rem 1rem 3rem;
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.75rem;
    line-height: 1;
    letter-spacing: 0.045em;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    z-index: 1;
}

.nav-link3::before {
    content: counter(n, decimal-leading-zero);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6rem;
    font-weight: bold;
    opacity: 0.25;
    transition: transform 0.2s;
    z-index: -1;
}

.nav-link3:hover {
    color: #fc784f;
    transform: translateX(0.5rem);
}


/* ==========================================================  3D Navigation Bar Animation  ==========================================================  */
/* ---------------  HTML  --------------- 
    <section class="grid container" id="anb3d">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="#anb3d">logo</a>
                </div>
                <div class="hamburger2">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="main-inner">
                <h1>3D animation using <span>css</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, veniam!</p>
            </div>
            <div class="shadow one"></div>
            <div class="shadow two"></div>
        </main>
        <nav class="nav-bar flex">
            <ul>
                <li><a href="#anb3d">home</a></li>
                <li><a href="#anb3d">features</a></li>
                <li><a href="#anb3d">about us</a></li>
                <li><a href="#anb3d">contact us</a></li>
            </ul>
        </nav>
    </section>
*/

/* ---------------  JS  --------------- 
    <script>
        const hamburger2 = document.querySelector('.hamburger2');
        hamburger2.addEventListener('click', () => {
            const anb3d = document.getElementById('anb3d');
            anb3d.classList.toggle('active');
        })
    </script>
*/

/* ---------------  CSS  --------------- */
.grid {
    display: grid;
    grid-template-areas: 'main main main main';
}

#anb3d {
    position: relative;
    background-color: #28313b;
}
#anb3d header {
    position: absolute;
    top: 0;
    height: 70px;
    z-index: 3;
}

#anb3d .wrapper {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#anb3d .logo {
    margin-left: 10vw;
}
#anb3d .logo a {
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: none;
}
#anb3d .hamburger2 {
    margin-right: 10vw;
    cursor: pointer;
}
#anb3d .line {
    width: 30px;
    height: 2px;
    margin: 7px;
    background-color: #fff;
}
#anb3d .main {
    /* width: 100%; */
    height: 100vh;
    display: grid;
    place-content: center;
    background-image: url('../assets/img/road-copy.jpg');
    background-position: center;
    background-size: cover;
    transform-style: preserve-3d;
    transition: transform 0.25s;
    z-index: 2;
    grid-area: main;
}
section.active {
    grid-template-areas: 'main main main nav';
}
section.active .main {
    animation: rotate3d 0.25s linear;
    transform: perspective(1300px) rotateY(30deg) scale(0.5);
    border-radius: 50px;
}
@keyframes rotate3d {
    from {
        transform: scale(1);
    }
    to {
        transform: perspective(1300px) rotateY(30deg) scale(0.5);
    }
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    border-radius: 50px;
    z-index: -1;
}

section.active .shadow {
    background-color: #fff;
}
section.active .shadow.one {
    left: -50px;
    opacity: 0.15;
    transform: translateZ(-80px);
    transition: all 0.65s ease-in-out;
}
section.active .shadow.two {
    left: -100px;
    opacity: 0.1;
    transform: translateZ(-160px);
    transition: all 0.65s ease-in-out;
}

.main-inner {
    width: 500px;
    width: 100%;
    color: #fff;
    text-align: center;
}
.main-inner h1 {
    margin-bottom: 20px;
    font-size: 40px;
    -webkit-text-stroke: 1px #fff;
}
.main-inner h1 span {
    text-transform: uppercase;
}
.main-inner p {
    font-size: 18px;
    color: #ffffffda;
}

.nav-bar {
    position: absolute;
    width: fit-content;
    width: 100%;
    opacity: 0;
    grid-area: nav;
}
section.active .nav-bar {
    position: relative;
    opacity: 1;
}
.nav-bar ul li {
    text-align: center;
    list-style: none;
    margin-bottom: 5px;
    padding-left: 20px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    opacity: 0;
}
section.active .nav-bar ul li {
    padding: 15px;
    opacity: 1;
}
.nav-bar ul li a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
}


/* ==========================================================  Side Bar .v2  ==========================================================  */
/* ---------------  HTML  --------------- 
*/

/* ---------------  JS  --------------- 
*/

/* ---------------  CSS  --------------- */
