@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Poppins:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #2a2b2f;
    font-family: 'Poppins', sans-serif;
}


/* ----------------------------------------------  Neumorphic Cards | v.1  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./cards/cards-neumorphic-v1.css" />
</head>

    <section class="cards-neumorphic-v1-container flex" id="target1">
        <article class="card-neumorphic-v1">
            <div class="card-neumorphic-v1-box flex">
                <div class="card-neumorphic-v1-content">
                    <h2>01</h2>
                    <h3>Card One</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium explicabo inventore iste expedita nesciunt, nulla dicta facilis? Aut quo fugit nisi pariatur consectetur perspiciatis asperiores at fuga eveniet laudantium!</p>
                    <a href="#target1">read more</a>
                </div>
            </div>
        </article>
        <article class="card-neumorphic-v1">
            <div class="card-neumorphic-v1-box flex">
                <div class="card-neumorphic-v1-content">
                    <h2>02</h2>
                    <h3>Card Two</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum est quis optio molestias? Consectetur labore ex excepturi distinctio reprehenderit.</p>
                    <a href="#target1">read more</a>
                </div>
            </div>
        </article>
        <article class="card-neumorphic-v1">
            <div class="card-neumorphic-v1-box flex">
                <div class="card-neumorphic-v1-content">
                    <h2>03</h2>
                    <h3>Card Three</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatum est quis optio molestias? Consectetur labore ex excepturi distinctio reprehenderit.</p>
                    <a href="#target1">read more</a>
                </div>
            </div>
        </article>
    </section>
*/

/* ===============  CSS  =============== */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-neumorphic-v1-container {
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 40px 0;
}
.card-neumorphic-v1 {
    position: relative;
    min-width: 320px;
    height: 440px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1);
}
.card-neumorphic-v1-box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: 0.5s;
}
.card-neumorphic-v1-box::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}
.card-neumorphic-v1-box:hover {
    transform: scale(1.1);
    /* transform: translateY(-50px); */
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}
.card-neumorphic-v1-content {
    padding: 20px;
    text-align: center;
}
.card-neumorphic-v1-content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.05);
}
.card-neumorphic-v1-content h3 {
    font-size: 1.8em;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
}
.card-neumorphic-v1-content p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
}
.card-neumorphic-v1-content a {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    padding: 8px 20px;
    font-weight: 400;
    color: #fff;
    border-radius: 20px;
    text-transform: capitalize;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-neumorphic-v1:nth-child(1) a {
    background: #2196f3;
}
.card-neumorphic-v1:nth-child(2) a {
    background: #e91e63;
}
.card-neumorphic-v1:nth-child(3) a {
    background: #97dc47;
}


/* ----------------------------------------------  Neumorphic Cards | v.2  ---------------------------------------------- */
/* ===============  HTML  =============== 
<head>
    <link rel="stylesheet" href="./cards/cards-neumorphic-v1.css" />
</head>

    <section class="cards-neumorphic-v2-container flex" id="target2">
        <div class="card-neumorphic-v2">
            <div class="imagebox">
                <img src="./assets/img/river-bank-copy.jpg" alt="">
            </div>
            <div class="main-title">
                <h2>image 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit error laboriosam repudiandae, assumenda eaque voluptas temporibus consequatur corporis dolore explicabo soluta illum iure impedit voluptatibus distinctio totam quidem labore excepturi</p>
            </div>
        </div>
        <div class="card-neumorphic-v2">
            <div class="imagebox">
                <img src="./assets/img/scenic-view-of-lake-against-sky-during-sunset-copy.jpg" alt="">
            </div>
            <div class="main-title">
                <h2>image 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit error laboriosam repudiandae, assumenda eaque voluptas temporibus consequatur corporis dolore explicabo soluta illum iure impedit voluptatibus distinctio totam quidem labore excepturi</p>
            </div>
        </div>
        <div class="card-neumorphic-v2">
            <div class="imagebox">
                <img src="./assets/img/alley-copy.jpg" alt="">
            </div>
            <div class="main-title">
                <h2>image 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit error laboriosam repudiandae, assumenda eaque voluptas temporibus consequatur corporis dolore explicabo soluta illum iure impedit voluptatibus distinctio totam quidem labore excepturi</p>
            </div>
        </div>
    </section>
*/

/* ===============  CSS  =============== */
.cards-neumorphic-v2-container {
    width: 100%;
    min-height: 100vh;
    background: #ebecf0;
    flex-wrap: wrap;
}

.card-neumorphic-v2 {
    width: max(280px, 450px);
    margin: 5vh 3vw;
    padding: 40px 3vw;
    border-radius: 30px;
    box-shadow: -7px -7px 20px #fff,
    1px 1px 4px rgba(255, 255, 255, 0.2),
    7px 7px 10px rgba(55, 84, 170, 0.15);
}

.imagebox {
    width: 100%;
    height: 300px;
    border: 4px solid #f3f4f7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -7px -7px 20px #fff,
    1px 1px 4px rgba(255, 255, 255, 0.2),
    7px 7px 10px rgba(55, 84, 170, 0.15);
}
.imagebox img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.card-neumorphic-v2 .main-title {
    margin-top: 20px;
    text-transform: capitalize;
}

.card-neumorphic-v2 .main-title h2 {
    padding: 2px 0px;
    color: #555f76;
    font-size: 22px;
    text-align: center;
}
.card-neumorphic-v2 .main-title p {
    color: #8d96a8;
    padding: 5px;
}
