@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Herr+Von+Muellerhoff&family=Kaushan+Script&family=Playfair+Display&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Playfair Display', serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

input::placeholder {
    font-family: 'Oleo Script Swash Caps', cursive;
}


/* ==========================================================  Transparent Form | v.1  ==========================================================  */
/* ===============  HTML  =============== 
    <section class="container flex" id="form1">
        <div class="form-wrapper">
            <h1 class="title">Sign in</h1>
            <form class="form-box">
                <input type="text" name="username" id="username1" placeholder="Username" autocomplete="off">
                <input type="password" name="password" id="password1" placeholder="Password">
                <button type="submit" class="submit">login</button>
            </form>
            <div class="bottom flex">
                <label for="remember1">
                    <input type="checkbox" name="remember" id="remember1" checked>
                    Remember Me
                </label>
                <a class="forgotten-password" href="#form1">forgot password ?</a>
            </div>
            <div class="socials">
                <a href="#form1" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#form1" class="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#form1" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#form1" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
*/

/* ===============  CSS  =============== */
#form1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/games-the-elder-scrolls-v-skyrim-50003-copy.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

#form1 input {
    outline: none;
    border: none;
}
#form1 input:focus, #form1 a:focus {
    outline: 1px solid rgb(255, 255, 255, 0.5);
    padding: 0px 10px;
    border-radius: 20px;
    transition: padding-left 0.5s;
}
#form1 a {
    text-decoration: none;
}
#form1 input::placeholder {
    color: #777;
}

#form1 .form-wrapper {
    width: 400px;
    height: 420px;
    padding: 60px 30px;
    color: #000;
    box-shadow: 8px 8px 40px #000;
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}
#form1 .title {
    margin-bottom: 8%;
    color: #fff;
    font-size: 26px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}
#form1 #username1, #form1 #password1 {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    color: #eee;
    font-size: 16px;
    border-bottom: 1px solid #999;
    background: transparent;
    opacity: 1;
}
#form1 .submit {
    width: 100%;
    height: 40px;
    display: block;
    margin-bottom: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 3px 3px 5px rgb(4, 17, 27);
    cursor: pointer;
}
#form1 .submit:active {
    transform: translate(-0.7px);
    border-top: 1px solid rgb(4, 17, 27);
    border-left: 1px solid rgb(4, 17, 27);
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.3);
}
#form1 .bottom {
    width: 100%;
    color: #fff;
    justify-content: space-around;
}
#form1 .forgotten-password {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    opacity: 0.8;
}
#form1 .socials {
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}
#form1 .socials a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}
#form1 .facebook {
    background-color: #3b5998;
}
#form1 .pinterest {
    background-color: #bd081c;
}
#form1 .twitter {
    background-color: #55acee;
}
#form1 .linkedin {
    background-color: #0077b5;
}


/* ==========================================================  Transparent Form | v.2  ==========================================================  */
/* ===============  HTML  =============== 
    <section class="container flex" id="form2">
        <div class="transparent-login-body flex">
            <header>
                <h2>login</h2>
            </header>
            <section class="transparent-login-main">
                <form>
                    <span>
                        <i class="fa fa-user"></i>
                        <!-- <i class="far fa-user"></i> -->
                        <!-- <i class="fas fa-pray"></i> -->
                        <!-- <i class="fas fa-user-check"></i> -->
                        <!-- <i class="fas fa-user-slash"></i> -->
                        <input type="text" name="username" id="username4" placeholder="Username" autocomplete="off">
                    </span>
                    <span>
                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                        <input type="password" name="password4" id="password4" placeholder="Password">
                    </span>
                    <button type="button" id="transparent-login-submit">login</button>
                </form>
            </section>
        </div>
    </section>
*/

/* ===============  CSS  =============== */
#form2 {
    background: url("../assets/img/clouds-bg-copy.jpg");
    background-position: bottom;
    background-size: cover;
}
.transparent-login-body {
    width: 380px;
    margin: auto;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 17px #333;
    border-radius: 25px;
    flex-direction: column;
}

.transparent-login-body header,
#transparent-login-submit {
    text-align: center;
    text-transform: capitalize;
}
.transparent-login-body header h2 {
    color: #333;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin: 50px 0;
}

.transparent-login-main form > * {
    display: block;
    position: relative;
    margin: 30px auto;
}
.transparent-login-main form span i {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 20px;
}

#username2, #password2,
#transparent-login-submit {
    width: 300px;
    height: 40px;
    color: #333;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 2px 5px #555;
}
#username2, #password2 {
    padding-left: 40px;
}
#transparent-login-submit {
    font-size: 20px;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 0.1);
    font-family: 'Oleo Script Swash Caps', cursive;
    transition: box-shadow 0.3s;
    cursor: pointer;
    transition: all 0.5s;
}
#transparent-login-submit:active,
#username2:active, #password2:active, 
#username2:focus, #password2:focus {
    box-shadow: 
    inset -2px -2px 5px #fff,
    inset 2px 2px 5px #555;
}
#transparent-login-submit:active {
    font-size: 14px;
    letter-spacing: 0.5px;
}

/* ==========================================================  Transparent Form | v.2 - Responsive  ==========================================================  */
/* ===============  HTML  =============== 
    <section class="container flex" id="form3">
        <main class="transparent-login2-main flex">
            <nav class="transparent-login2-nav">
                <a class="transparent-login2-nav-link" href="#form3">home</a>
                <a class="transparent-login2-nav-link" href="#form3">sign up</a>
                <div class="empty-square" style="--i:5;"></div>
                <div class="empty-square" style="--i:6;"></div>
                <div class="empty-square" style="--i:8;"></div>
            </nav>
            <div class="transparent-login2-container">
                <h2 class="form3-title">login</h2>
                <form class="transparent-login2-body">
                    <label class="form3-label" for="username3">username
                        <input type="text" name="username" id="username3" placeholder="Username" autocomplete="off">
                        <span class="form3-input-pseudolabel">username</span>
                    </label>
                    <label class="form3-label" for="password3">password
                        <input type="password" name="password" placeholder="Password" id="password3">
                        <span class="form3-input-pseudolabel">password</span>
                    </label>
                </form>
                <button type="button" id="transparent-login-submit3">login</button>
                <a class="forgotten-password3" href="#form3">forgot password ?</a>
            </div>
        </main>
    </section>
*/

/* ===============  CSS  =============== */

#form3 {
    position: relative;
    background: linear-gradient(to right, #3f5efb, #fc466b);
}

.transparent-login2-main {
    position: relative;
    width: min(100%, 25rem);
    min-width: 210px;
    height: 28rem;
    margin: 50px 5px;
    color: #fff;
}
.transparent-login2-nav > * {
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255, 0.06);
    backdrop-filter: blur(5px);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.37);
    animation: bounce 5s linear infinite, showup 1s linear backwards;
}
@keyframes bounce {
    25% {
        transform: translateY(calc(-10px));
    }
    75% {
        transform: translateY(calc(10px));
    }
}
@keyframes showup {
    0% {opacity: 0;}
}

.transparent-login2-nav-link {
    padding: 15px 20px;
    color: inherit;
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 20px;
    opacity: 0.8;
    z-index: 5;
    transition: all 0.6s;
}
.transparent-login2-nav-link:hover {
    font-size: 35px;
    animation-play-state: paused;
}
.transparent-login2-nav-link:nth-of-type(1) {
    inset: -10% -15% auto auto;
}
.transparent-login2-nav-link:nth-of-type(2) {
    inset: auto auto 36% -29%;
    animation-delay: 2s;
}
.empty-square {
    width: calc(10px * var(--i));
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    animation-delay: calc(1s * var(--i));
}

.empty-square:nth-of-type(1) {
    inset: auto 35% -15% auto;
}
.empty-square:nth-of-type(2) {
    inset: -13% auto auto 20%;
}
.empty-square:nth-of-type(3) {
    inset: auto -60px auto auto;
    z-index: 5;
}

.transparent-login2-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255, 0.06);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.37);
    z-index: 2;
}

.form3-title {
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

.transparent-login2-body {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form3-label {
    position: relative;
    width: 80%;
    margin-top: 30px;
    color: transparent;
    font-size: 20px;
    text-transform: capitalize;
}

#username3, #password3 {
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    padding: 5px 0px;
    margin: 0px auto;
    font-size: 16px;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.6);
    background-color: transparent;
    opacity: 0.8;
    z-index: 3;
}
#username3::placeholder, 
#password3::placeholder {
    opacity: 0;
}

.form3-input-pseudolabel {
    width: 100%;
    position: absolute;
    inset: 0 auto auto 0;
    color: #fff;
    text-align: center;
    opacity: 0.8;
    transition: all 1s;
}
#username3:focus ~ span, 
#username3:not(:placeholder-shown) ~ span,
#password3:focus ~ span, 
#password3:not(:placeholder-shown) ~ span {
    top: -100%;
}

#transparent-login-submit3 {
    width: max(200px, 50%);
    margin: 5% auto;
    padding: 10px 30px;
    color: inherit;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.57);
    opacity: 0.7;
    transition: all 0.5s;
    cursor: pointer;
}
#transparent-login-submit3:hover, 
#transparent-login-submit3:focus {
    transform: scale(1.1);
    outline: 1px solid rgb(255, 255, 255, 0.5);
}
#transparent-login-submit3:active {
    transform: translate(-1px);
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0);
    box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.57),
    inset -2px -2px 3px 0px rgba(255, 255, 255, 0.2);
}

.forgotten-password3 {
    color: inherit;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.5s;
}
.forgotten-password3:hover, 
.forgotten-password3:focus {
    outline: none;
    border: none;
    border-radius: 20px;
    transform: scale(1.1);
}

@media (max-width: 650px) {
    .empty-square {
        display: none;
    }
    .transparent-login2-nav-link:nth-of-type(1) {
        inset: -12% 0 auto auto;
    }
    .transparent-login2-nav-link:nth-of-type(2) {
        inset: auto auto -12% 0;
    }
}


/* ==========================================================  Transparent Form | Water Drop  ==========================================================  */
/* ===============  HTML  =============== 
    <section class="container" id="water-drop">
        <div class="title">
            <h1>liquid dr <span><div class="drop"></div></span> p</h1>
            <h2>login page <span>ui</span> design</h2>
        </div>
        <div class="drop flex">
            <div class="content flex">
                <h2>sign in</h2>
                <form action="">
                    <div class="inputbox">
                        <input type="text" name="" id="" placeholder="Username">
                    </div>
                    <div class="inputbox">
                        <input type="password" name="" id="" placeholder="Password">
                    </div>
                    <div class="inputbox submit">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
        <div class="btns">
            <a href="water-drop" class="btn sign-in">sign up</a>
            <a href="water-drop" class="btn">forgot password</a>
        </div>
    </section>
*/

/* ===============  CSS  =============== */
#water-drop {
    display: flex;
    background-color: #eff0f4;
}
#water-drop .title {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 4em;
    color: #ddd;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}
#water-drop h1 {
    width: min-content;
    margin-bottom: 1rem;
    font-size: 7rem;
    line-height: 1.1;
}
#water-drop h2 {
    font-size: 1.8rem;
}
#water-drop h2 span {
    color: #ff0f5b;
}
.title .drop {
    display: inline-block;
    width: 100px;
    min-width: 100px;
    height: 100px;
    margin: 0px -30px -9px;
    border-radius: 49% 51% 42% 58% / 56% 47% 53% 44%;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.05), 
    15px 10px 15px rgba(0, 0, 0, 0.025), 
    inset 2px 5px 10px rgba(0, 0, 0, 0.1), 
    inset -2px -5px 10px rgb(255, 255, 255, 0.9);
}
.title .drop::before {
    position: absolute;
    inset: 12px auto auto 22px;
    width: 15px;
    height: 15px;
}
.title .drop:after {
    position: absolute;
    inset: 27px auto auto 34px;
    width: 7px;
    height: 7px;
}

.drop {
    position: relative;
    width: 350px;
    min-width: 350px;
    height: 350px;
    margin: auto 0 auto auto;
    font-family: 'Kaushan Script', cursive;
    border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
    box-shadow: 25px 35px 20px rgba(0, 0, 0, 0.05), 
    25px 30px 30px rgba(0, 0, 0, 0.05), 
    inset 20px 20px 20px rgba(0, 0, 0, 0.05), 
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: all 0.5s;
}
.drop:hover {
    border-radius: 50%;
}

.drop::before, 
.drop::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.9;
}
.drop::before {
    inset: 50px auto auto 85px;
    width: 35px;
    height: 35px;
}
.drop::after {
    inset: 90px auto auto 110px;
    width: 15px;
    height: 15px;
}

.drop .content {
    position: relative;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}
.drop .content h2 {
    color: #333;
    font-size: 1.5rem;
}
.drop .content h2::first-letter {
    text-transform: uppercase;
}

.drop .content form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.drop .content form .inputbox {
    width: 225px;
    border-radius: 25px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.05), 
    15px 10px 15px rgba(0, 0, 0, 0.025), 
    inset 2px 5px 10px rgba(0, 0, 0, 0.1), 
    inset -2px -5px 10px rgb(255, 255, 255, 0.9);
}

.drop .content form .inputbox input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.drop .content form .inputbox.submit {
    width: 120px;
    margin-left: auto;
    background-color: #ff0f5b;
    transition: all 0.5s;
}
.drop .content form .inputbox.submit:hover {
    width: 150px;
}
.submit input {
    color: #fff;
    font-size: 16px;
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.drop input::placeholder {
    font-family: initial;
}

.btns {
    margin: 41vh auto 22vh 0;
}
#water-drop .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    box-shadow: 15px 25px 10px rgba(190, 1, 254, 0.1), 
    15px 20px 20px rgba(190, 1, 254, 0.1), 
    inset 10px 10px 10px rgba(190, 1, 254, 0.05), 
    inset -10px -10px 15px rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
    cursor: pointer;
}
#water-drop .btn:first-of-type {
    width: 90px;
    height: 90px;
    margin: 40px 0px 40px 70px;
    border-radius: 65% 35% 57% 43% / 48% 32% 68% 52%;
    background-color: #55acee;
}
#water-drop .btn:last-of-type {
    width: 120px;
    height: 120px;
    border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
    background-color: #c61dff;
}
#water-drop .btn:hover {
    border-radius: 50%;
}

#water-drop .btn::before {
    position: absolute;
    inset: 17px auto auto 22px;
    content: '';
    width: 30px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 15px 25px 10px rgba(190, 1, 254, 0.1), 
    15px 20px 20px rgba(190, 1, 254, 0.1), 
    inset 10px 10px 10px rgba(190, 1, 254, 0.05), 
    inset -10px -10px 15px rgba(255, 255, 255, 0.5);
    transform: rotateZ(-30deg);
    opacity: 0.85;
}
#water-drop .btn.sign-in::before {
    inset: 11px auto auto 22px;
    height: 6px;
    transform: rotateZ(-15deg);
}
